/*

#DIR
!.config/
.config/*
!.config/albert/
!.config/autostart/
!.config/dmenu-recent/
!.config/dunst/
!.config/fcitx/
!.config/flameshot/
!.config/fontconfig/
!.config/gtk-3.0/
!.config/Kvantum/
!.config/libfm/
!.config/morc_menu/
!.config/nitrogen/
!.config/pcmanfm/
!.config/ranger/
!.config/xfce4/
!.config/mimeapps.list
!.config/picom.conf

#!.config/
#!.conf

!.i3/
!.icons/
!.moc
!.screenlayout/
!.sunpinyin/
!.vim/



#File
!.gitignore
!.bash_logout
!.bash_profile
!.bashrc
!.dir_colors
!.dmenurc
!.dmrc
!.gtk-bookmarks
!.gtkrc-2.0
!.profile
!.vimrc
!.Xclients
!.xinitrc
!.xprofile
!.Xresources
!.zshrc


!README
