/*
#/*


!.config/
.config/*
!.config/ranger/

!.i3/

!.vim/



#*
!.bashrc
!.dmenurc
!.gitconfig
!.profile
!.vimrc
!.Xauthority
!.Xclients
!.xinitrc
!.xprofile
!.Xresources
!.zshrc
!.gitignore
#*
#*/
