/*

#DIR
!.config/
.config/*
!.config/albert/
!.config/autostart/
!.config/calibre/
!.config/clash/
!.config/dmenu-recent/
!.config/dunst/
!.config/fcitx5/
!.config/flameshot/
!.config/fontconfig/
!.config/gconf/
!.config/gtk-3.0/
!.config/i3status/
#!.config/Kvantum/
!.config/libfm/
!.config/morc_menu/
!.config/Mousepad/
!.config/nitrogen/
!.config/pcmanfm/
#!.config/qt5ct/
!.config/ranger/
#!.config/Typora/
!.config/xfce4/
!.config/mimeapps.list
!.config/picom.conf
!.config/picom.conf

#!.config/
#!.conf


!.i3/
!.icons/
!.initsrc/
!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fcitx5/
!.moc
!.screenlayout/
!.sunpinyin/
!.vim/


#File
!.gitconfig
!.gitignore
!.bash_logout
!.bash_profile
!.bashrc
!.dir_colors
!.dmenurc
!.dmrc
!.gtk-bookmarks
!.gtkrc-2.0
!.profile
!.vimrc
!.Xclients
!.xinitrc
!.xprofile
!.Xresources
!.zshrc


!README
