[Desktop Entry]
Name=baidunetdisk
Exec= sh -c 'unset http_proxy https_proxy && /usr/lib/baidunetdisk/baidunetdisk --no-sandbox'
Terminal=false
Type=Application
Icon=baidunetdisk
StartupWMClass=baidunetdisk
Comment=百度网盘
MimeType=x-scheme-handler/baiduyunguanjia;
Categories=Network;
